## Preprocessing

In [14]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [15]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])

In [16]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [application_df['APPLICATION_TYPE'].value_counts().index[x] for x in range(0,application_df['APPLICATION_TYPE'].nunique()) if application_df['APPLICATION_TYPE'].value_counts()[x]<500]

# application_types_to_replace = []
# for i in range(0,application_df['APPLICATION_TYPE'].nunique()):
#     if application_df['APPLICATION_TYPE'].value_counts()[i]<500:
#         application_types_to_replace.append(application_df['APPLICATION_TYPE'].value_counts().index[i])
#     print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [application_df['CLASSIFICATION'].value_counts().index[x] for x in range(0,application_df['CLASSIFICATION'].nunique()) if application_df['CLASSIFICATION'].value_counts()[x]<1800]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [21]:
# Consider other columns to drop
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [22]:
# Drop low priority columns
application_df = application_df.drop(
    columns=['ASK_AMT', 'STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,1
5,T3,Independent,C1200,Preservation,Trust,0,1
6,T3,Independent,C1000,Preservation,Trust,100000-499999,1
7,T3,Independent,C2000,Preservation,Trust,10M-50M,1
8,T7,Independent,C1000,ProductDev,Trust,1-9999,1
9,T5,CompanySponsored,C3000,ProductDev,Association,0,0

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
charity_dummies = pd.get_dummies(application_df, columns=[
                                 "APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT"])
charity_dummies.head(10)

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
5,1,0,0,0,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
6,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
7,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
8,1,0,0,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [24]:
# Split our preprocessed data into our features and target arrays
y = charity_dummies["IS_SUCCESSFUL"]
X = charity_dummies.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5 


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 320

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 371
Trainable params: 371
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6135 - accuracy: 0.6918
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7245
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5603 - accuracy: 0.7282
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7289
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5559 - accuracy: 0.7303
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7308
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7307
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7307
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7307
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7322
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7317
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7319
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7322
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7323
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7317
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7315
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7320
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7323
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7321
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7320
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7326
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7317
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7332
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7325
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7328
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7320
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7322
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7327
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7329
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7334
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7331
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7328
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7318
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7337
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7321
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7331
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7320
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7332
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7326
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7339
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7332
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7340
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7330
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7325
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7325
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7328
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7331
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7333
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7333
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7318
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7329
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7324
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7327
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7339
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7322
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7331
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7337
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7339
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7338
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7341
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7336
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7336
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7332
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7334
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7332
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7330
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7327
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7335
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7338
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7332
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7332
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7328
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7340
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7342
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7339
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7333
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7348
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7338
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7341
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7339
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7333
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7336
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7324
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7333
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7344
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7344
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7336
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7332
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7328
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7339
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7333
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7325
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7329
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7322

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5520 - accuracy: 0.7299 - 312ms/epoch - 1ms/step
Loss: 0.552043616771698, Accuracy: 0.729912519454956

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")